 header h2 {
        border: 1px solid grey;
        border-radius: 10px;
        display: block;
        background-color: rgb(234, 240, 239);
        font-size: 33px;
        text-align: center;
        color: rgb(99, 49, 128);
    }

    .img {
        width: 1265px;
        height: 576px;
        filter: invert(25%);
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    .left h2 {
        top: 57px;
        position: absolute;
        margin:4px 450px;
        color: rgb(170, 34, 136);
        left: 14px;
        padding: 7px;
        border-radius: 50px;
        background-color: rgb(174, 145, 177);
        cursor: pointer;
        
    }

    .left h2:hover {
        color: rgb(66, 55, 52);
        background-color: rgb(89, 136, 158);
        text-decoration: underline;
    }

    .left1 h2 {
        top: 57px;
        position: absolute;
        margin:4px 450px;
        color: rgb(170, 34, 136);
        left: 125px;
        padding: 7px;
        border-radius: 50px;
        background-color: rgb(174, 145, 177);
        cursor: pointer;
    }

    .left1 h2:hover {
        color: rgb(66, 55, 52);
        background-color: rgb(89, 136, 158);
        text-decoration: underline;
    }

    .search{
        position:absolute;
        top:63px;
        margin-left:1000px;
    }
    .search2{
        border-radius: 10px;
        padding-left:4px;
        padding-right:4px;
        padding-top:2px;
        padding-bottom:2px;
        width:57px;
        height:25px;
        background-color: rgb(179, 167, 122);

    }